extends layouts/root-layout.pug
block content
    h1 This is an h1 in the root.pug page
    div.loginContainer
        //- h2 Login
        //- form(action="", method="POST") 
        //-     input(type="text", name="logUsername", placeholder="Username", required="")
        //-     input(type="password", name="logPassword", placeholder="Password", required="")
        //-     input(type="submit", value="Login")
        //- br
        //- a(href="/register") Don't have an account? Register here.
    div.postsContainer

block scripts
    script(src="/js/root.js") 